.DS_Store

# build
dist/
.astro/
.lighthouseci/

# playwright
test-results/
playwright-report/
blob-report/
playwright/.cache/

# dependencies
node_modules/

# env
.env
.env.production

# editor
.vscode/*
!.vscode/extensions.json

# logs
npm-debug.log*
